@tailwind base;
@tailwind components;
@tailwind utilities;
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  font-family: 'Roboto';
}
html {
  --black: #000000;
  --black-light: #0000009e;
  --shadow: rgba(0, 0, 0, 0.79);
  --aqua: #34ceb7;
  --magenta: #b44aee;
  --magenta-light: #be80e0;
  --text-sizes-normal: 15px;
  --text-sizes-small: 12px;
  --grayBorder: #cecece;
  --white: #fff;
  --yellow: #fede00;
}
@media (min-width: 600px) {
  .main {
    overflow-y: hidden;
    height: 100vh;
  }
}
.head-main {
  justify-content: center;
  margin-bottom: 1rem;
}
.head-txt {
  margin: auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 600px) {
  .head-txt {
    margin: auto 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 22px !important;
    font-size: 0.85rem !important;
    margin-top: 10px;
  }
}
.head {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
  color: var(--black);
  text-align: center;
  display: flex;
  justify-content: center;
}
.head img {
  height: 45px;
}
.head span {
  margin-top: auto;
  margin-bottom: auto;
}
.nav {
  padding: 20px;
}
.nav img {
  height: 48px;
}
.nav .github {
  margin: auto;
  margin-right: 20px;
  font-weight: 500;
  cursor: pointer;
}
@media (max-width: 600px) {
  .github {
    display: none;
  }
}
.connected {
  box-sizing: border-box;
  display: block;
  height: 40px;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 4px;
  position: relative;
  text-decoration: none;
  z-index: 2;
  border-radius: 10px;
  min-width: 120px;
  padding: 2px;
  font-size: var(--text-sizes-normal);
  color: var(--black);
  font-weight: 600;
  margin-top: 10px;
  display: flex;
}
.connected span {
  align-items: center;
  background: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
  font-size: var(--text-sizes-normal);
}
.connected img {
  height: 20px;
  margin: auto;
  margin-right: 8px;
}

.container {
  margin: 5vh auto;
  width: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.shadow {
  box-shadow: 2px 4px 14px -9px var(--shadow);
  -webkit-box-shadow: 2px 4px 14px -9px var(--shadow);
  -moz-box-shadow: 2px 4px 14px -9px var(--shadow);
}
.flex {
  justify-content: center;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex-sb {
  display: flex;
  justify-content: space-between;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.max {
  flex: 1;
}
.bold {
  font-weight: 700;
}
.cw-1 {
  /* width: 50%; */
  max-width: 440px;
  min-width: 390px;
  margin-right: 25px;
}
@media (max-width: 600px) {
  .cw-1 {
    margin-right: 0px;
    min-width: 375px;
    width: 100%;
  }
}
.pd {
  padding: 1.5rem 1.8rem;
}
@media (max-width: 600px) {
  .pd {
    padding: 1.5rem 1rem;
  }
}
.rd {
  border-radius: 10px;
}
.m-auto {
  margin: auto;
}
.txt-1 {
  line-height: 30px;
  font-weight: 500;
  color: var(--black-light);
  font-size: 0.9rem;
}
.txt-2 {
  color: var(--magenta);
  font-weight: bold;
  font-size: 1rem;
}

.btn {
  background-image: linear-gradient(to right, var(--aqua), var(--magenta));
  box-sizing: border-box;
  display: block;
  height: 40px;
  letter-spacing: 1px;
  margin: 0 auto;
  padding: 4px;
  position: relative;
  text-decoration: none;
  z-index: 2;
  border-radius: 10px;
  min-width: 120px;
  padding: 2px;
  font-size: var(--text-sizes-normal);
  color: var(--magenta);
  width: 100%;
  font-weight: 600;
  margin-top: 10px;
}

.btn:hover {
  color: #fff;
}

.btn span {
  align-items: center;
  background: #fff;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
  font-size: var(--text-sizes-normal);
}

.btn:hover span {
  background: var(--aqua);
}
.btn:hover {
  background-image: none;
}

.material-textfield input {
  border-radius: 10px;
  outline: none;
  height: 36px;
  border: 1px solid var(--grayBorder);
  margin-bottom: 15px;
  padding: 20px 10px;
  color: var(--black);
  font-weight: 500;
  font-weight: 400;
}

.btn-2 {
  border-radius: 10px;
  outline: none;
  border: 1px solid var(--grayBorder);
  margin-bottom: 15px;
  padding: 5px 10px;
  color: var(--black-light);
  font-weight: 500;
  cursor: pointer;
  transition: background 0.5s ease;
  display: flex;
  font-size: var(--text-sizes-normal);
  width: 32%;
  display: flex;
  flex-direction: column;
}
.btn-2 span {
  margin: auto;
}
.btn-2:hover {
  background: var(--aqua);
  border: none;
  color: var(--white);
}
.btn-2-clicked {
  background: var(--aqua);
  border: none;
  color: var(--white);
}
.apy {
  font-size: var(--text-sizes-small);
  font-weight: 500;
}

.txt-center {
  text-align: center;
}
.highlight {
  color: var(--black);
  font-weight: 700;
}

.btn-3 {
  width: 150px;
  margin: inherit;
  margin-top: auto;
  margin-bottom: auto;
}
.btn-4 {
  margin: inherit;
  margin-top: auto;
  border: 1px solid var(--grayBorder);
  margin-bottom: auto;
  padding: 10px;
}

.loading span {
  background: var(--aqua);
}
.loading {
  background-image: none;
  display: flex;
  color: var(--white);
}

.tooltip {
  background-color: var(--white);
  padding: 10px;
  color: var(--black-light);
  font-weight: 500;
}
.u {
  text-decoration: underline;
  text-decoration-style: dotted;
}

@keyframes bg {
  0% {
    background: #000;
  }
  100% {
    background: #fff;
  }
}
h1 {
  font-size: 64px;
  transition: 0.5s;
}
/* .loading {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  margin: auto;
}
.h-100 {
  height: 80vh;
}
.loading div {
  position: absolute;
  background: var(--aqua);
  opacity: 1;
  border-radius: 50%;
  animation: loading 1.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading div:nth-child(2) {
  animation-delay: -0.7s;
}
@keyframes loading {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
} */

.MuiPaper-root {
  max-width: 800px;
  box-shadow: 2px 4px 14px -9px var(--shadow) !important;
  -webkit-box-shadow: 2px 4px 14px -9px var(--shadow);
  -moz-box-shadow: 2px 4px 14px -9px var(--shadow);
}
@media (max-width: 600px) {
  .MuiPaper-root {
    max-width: 440px;
    min-width: 390px;
  }
  .MuiTable-root {
    width: 800px !important;
  }
}

.redeemed {
  color: var(--aqua);
  font-weight: 500;
}

.not-redeemed {
  color: var(--black-light);
  font-weight: 500;
}

.magenta {
  color: var(--magenta);
}
.MuiTableHead-root .MuiTableRow-root {
  background: var(--magenta-light);
}

.MuiTableHead-root .MuiTableCell-root {
  color: var(--white);
}

.placeholder-1 {
  color: var(--black-light);
  margin: 10px;
}
.adjustable {
  max-height: 660px;
}

@media (max-width: 600px) {
  .adjustable {
    flex-direction: column;
    max-height: fit-content;
  }
}

/* width */
.MuiTableContainer-root::-webkit-scrollbar {
  width: 1px;
  border-radius: 10px;
}

/* Track */
.MuiTableContainer-root::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.MuiTableContainer-root::-webkit-scrollbar-thumb {
  background: var(--grayBorder);
  border-radius: 10px;
}

/* Handle on hover */
.MuiTableContainer-root::-webkit-scrollbar-thumb:hover {
  background: #555;
}
